[submodule "components/esp-homekit"]
	path = components/esp-homekit
	url = https://github.com/maximkulkin/esp-homekit
[submodule "components/esp-wolfssl"]
	path = components/esp-wolfssl
	url = https://github.com/maximkulkin/esp-wolfssl
[submodule "components/esp-cjson"]
	path = components/esp-cjson
	url = https://github.com/maximkulkin/esp-cjson
[submodule "components/MQ135"]
	path = components/MQ135
	url = https://github.com/GeorgK/MQ135
